<% if submission.std_seats.count > 0 %>
    <%= render partial: 'assessment/mission_submissions/team_summary', locals: {student_seats: submission.std_seats} %>
<% else %>
    <%= render partial: 'assessment/mission_submissions/summary' %>
<% end %>
<% @assessment.questions.includes(:answers).each_with_index do |q, i| %>
    <% unless @assessment.specific.single_question? %>
        <h3> <%= q.title || "Question  #{i + 1}" %></h3>
        <div class="row">
          <div class="span8">
            <span><%= style_format(q.description) %></span>
          </div>
        </div>

    <% end %>

    <%- question = q.specific %>
    <% if question.class == Assessment::GeneralQuestion %>
        <%- answer = submission.answers.where(question_id: q.id).first %>
        <h4><%= @student_seats ? "Team answer:" : "Answer" %></h4>
        <div class="row-fluid">
          <div class="submission-question-block span10">
            <%= answer.content ? answer.content.html_safe : "" %>
          </div>
        </div>
    <% elsif question.class == Assessment::MpqQuestion%>
        <% question.sub_questions.each_with_index do |sq,si| %>
            <%- answer = submission.answers.where(question_id: sq.id).first %>
            <%- sq = sq.specific %>
            <span><strong><%= "Sub question #{si+1}: " %></strong><%= style_format(sq.description) %></span>
            <h4><%= @student_seats ? "Team answer:" : "Answer" %></h4>
            <div class="row-fluid">
              <div class="submission-question-block span10">
                <%= answer.content.html_safe if (answer and answer.content) %>
              </div>
            </div>
        <% end %>
    <% else %>
        <%=render partial: 'do_coding',
                  locals: { answer: answer,
                            question: question,
                            submission: submission,
                            mode: "view" } %>
    <% end %>
    <% if @assessment.comment_per_qn? %>
        <hr />
        <% require 'digest/md5' %>
        <% ecid =  Digest::MD5.hexdigest(answer.id.to_s) %>
        <input type="hidden" id="submission_url_<%= ecid %>" value="<%= course_assessment_submission_url(@course, @assessment, submission) %>">

        <div class="row-fluid">
          <div class="span10">
            <%= render partial: "comments/list",
                       locals: { comments:  CommentTopic.comments_to_json(answer.comment_topic, curr_user_course),
                                 target:    answer,
                                 header:    'Comments',
                                 ecid:      ecid } %>
          </div>
        </div>
    <% end %>
<% end %>
<% if @assessment.file_submission?  %>
    <span class="btn" data-toggle="collapse" data-target="#submission-files">
            <i class="icon-upload icon-white"></i>
            <span>Add files for submission</span>
          </span>
    <br/><br/>
    <div id="submission-files" class="collapse out">
      <%= render partial: 'layouts/file_uploader_complicated',
                 locals: { owner: submission } %>
    </div>
<% end %>

<% unless @assessment.comment_per_qn? %>
    <input type="hidden" id="submission_url_<%= submission.id %>" value="<%= course_assessment_submission_url(@course, @assessment, submission) %>">
    <div class="row">
      <div class="span8">
        <%= render partial: "comments/list",
                   locals: { comments:  CommentTopic.comments_to_json(submission.comment_topic, curr_user_course),
                             target:    submission,
                             header:    "Comments",
                             ecid:      submission.id,
                             margin_left: "0px"} %>
      </div>
    </div>
<% end %>