<div class="<%= get_lesson_plan_entry_css_class(entry.entry_real_type) %>">
  <hr class="lesson-plan-entry-separator">
  <div class="row <%= entry.is_virtual?  ? 'lesson-plan-virtual-entry' : 'lesson-plan-entry' %>">
    <div class="<%= (can? :manage, LessonPlanEntry) ? 'span1' : '' %>">
      <h1>
        <small>
          <%= entry.entry_real_type %>
        </small>
      </h1>
    </div>
    <div class="<%= (can? :manage, LessonPlanEntry) ? 'span7' : '' %> lesson-plan-entry-body">
      <% if entry.is_virtual? %>
        <% if (can? :manage, LessonPlanEntry) %>
            <%= link_to entry.url, :class => "lesson-plan-virtual-entry-title" do %>
              <% if not entry.is_published %>
                <span class="label label-important">Unpublished</span>
              <% end %>
              <%= entry.title %>
            <% end %>
        <% else %>
              <%= link_to "",:id => "virtual-entity-#{entry.assessment.id}",  :class => "btn_entry" do %>
                  <span class="entry_title"><%= entry.title %></span>
                  <input type="hidden" class="entry_action" value="<%= entry.submission[:action]  %>">
                  <input type="hidden" class="entry_url" value="<%= entry.submission[:url]  %>">
                  <input type="hidden" class="entry_text_type" value="<%= entry.entry_real_type  %>">
                  <input type="hidden" class="entry_type" value="<%= entry.entry_type  %>">
                  <input type="hidden" class="entry_description" value="<%= entry.description.html_safe  %>">
                  <input type="hidden" class="entry_location" value="<%= entry.location  %>">
                  <% if entry.start_at %>
                      <input type="hidden" class="entry_start" value="<%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>">
                      <% if entry.end_at %>
                          <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                              <input type="hidden" class="entry_end" value="<%= entry.end_at.strftime("%I:%M %p") %>">
                          <% else %>
                              <input type="hidden" class="entry_end" value="<%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>">
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if entry.entry_type == 5 %>
		                <input type="hidden" class="entry_action_secondary" value="<%= entry.submission[:actionSecondary] %>">
		                <input type="hidden" class="entry_url_secondary" value="<%= entry.submission[:urlSecondary]  %>">
                  <% end %>
              <% end %>
        <% end %>
      <% else %>
          <a class="lesson-plan-anchor" name="entry-<%= entry.id %>"></a>
          <h2>
            <% if (cannot? :manage, LessonPlanEntry) %>
               <%= link_to "",:id => "entity-#{entry.id}" , :class => "btn_entry" do %>
                    <span class="entry_title"><%= entry.title %></span>
                    <input type="hidden" class="entry_text_type" value="<%= entry.entry_real_type  %>">
                    <input type="hidden" class="entry_type" value="<%= entry.entry_type  %>">
                    <input type="hidden" class="entry_description" value="<%= entry.description.html_safe  %>">
                    <input type="hidden" class="entry_location" value="<%= entry.location  %>">
                    <span class="entry_start_end" style="display: none">
                      <% if entry.start_at %>
                        <span class="icon-calendar"></span>
                        <%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>
                          <% if entry.end_at %> to
                            <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                              <%= entry.end_at.strftime("%I:%M %p") %>
                            <% else %>
                              <%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>
                            <% end %>
                          <% end %>
                        <% end %>
                    </span>
               <% end %>
               <div class="discussion" style="display: none">
                    <%= render partial: 'forums/topics/discussion', locals: { owner: entry, title: (entry.entry_real_type + ' ' + entry.title) } %>
               </div>
            <% else %>
                <%= entry.title %>
            <% end %>
          </h2>
      <% end %>
      <% if (can? :manage, LessonPlanEntry) %>
          <h3><%= entry.location %></h3>
          <h4>
            <% if entry.start_at %>
              <span class="icon-calendar"></span>
              <%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>
              <% if entry.end_at %> to
                <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                  <%= entry.end_at.strftime("%I:%M %p") %>
                <% else %>
                  <%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>
                <% end %>
              <% end %>
            <% end %>
          </h4>
          <div class="show-bullet-points lesson-plan-entry-description">
            <% if entry.is_virtual? %>
              <%= truncate_html entry.description, :length => 140 %>
            <% else %>
              <%= entry.description.html_safe %>
            <% end %>
          </div>
      <% end %>
  <% if entry.resources.length > 0 %>
      <% if (cannot? :manage, LessonPlanEntry) %> <div class="resource-hide" style="display: none"> <% end %>
      <h4>Instructional Resources</h4>
      <ul>
      <% entry.resources.each { |r| %>
        <li>
          <%= link_to url_for([@course, r.obj]) do %><i class="icon-download-alt"></i><%= " #{r.obj.title}" %><% end %>
        </li>
      <% } %>
      </ul>
      <% if (cannot? :manage, LessonPlanEntry) %> </div> <% end %>
  <% elsif entry.is_virtual? %>
      <% if (cannot? :manage, LessonPlanEntry) %> <div class="resource-hide" style="display: none"> <% end %>
          <%= render partial: "file_uploads/download_local_files",
                     locals: { owner: entry.assessment }%>
      <% if (cannot? :manage, LessonPlanEntry) %> </div> <% end %>
  <% end %>
    </div>
    <div class="pull-right">
      <% if can? :manage, LessonPlanEntry and not entry.is_virtual? %>
        <%= link_to edit_course_lesson_plan_entry_path(@course, entry), class: 'btn' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= render :partial => "layouts/delete_confirm", :locals => { :path_to_item => course_lesson_plan_entry_path(@course, entry) } %>
      <% end %>
    </div>
  </div>
</div>

