<div class="<%= get_lesson_plan_entry_css_class(entry.entry_real_type) %>">
  <hr class="lesson-plan-entry-separator">
  <div class="row <%= entry.is_virtual?  ? 'lesson-plan-virtual-entry' : 'lesson-plan-entry' %>">
    <div class="<%= (can? :manage, LessonPlanEntry) ? 'span1' : '' %>">
      <h1>
        <small>
          <%= entry.entry_real_type %>
        </small>
      </h1>
    </div>
    <div class="<%= (can? :manage, LessonPlanEntry) ? 'span7' : '' %> lesson-plan-entry-body">
      <% if entry.is_virtual? %>
        <% if (can? :manage, LessonPlanEntry) %>
            <%= link_to entry.url, :class => "lesson-plan-virtual-entry-title" do %>
              <% if not entry.is_published %>
                <span class="label label-important">Unpublished</span>
              <% end %>
              <%= entry.title %>
            <% end %>
        <% else %>
              <%= link_to "",:id => "virtual-entity-#{entry.assessment.id}",  :class => "btn_entry" do %>
                  <span class="entry_title"><%= entry.title %></span>
                  <input type="hidden" class="entry_url" value="<%= course_lesson_plan_submission_path(@course, entry.assessment )  %>">
                  <input type="hidden" class="entry_text_type" value="<%= entry.entry_real_type  %>">
                  <input type="hidden" class="entry_type" value="<%= entry.entry_type  %>">
                  <input type="hidden" class="entry_description" value="<%= entry.description.html_safe  %>">
                  <input type="hidden" class="entry_location" value="<%= entry.location  %>">
                  <% if entry.start_at %>
                      <input type="hidden" class="entry_start" value="<%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>">
                      <% if entry.end_at %>
                          <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                              <input type="hidden" class="entry_end" value="<%= entry.end_at.strftime("%I:%M %p") %>">
                          <% else %>
                              <input type="hidden" class="entry_end" value="<%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>">
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
        <% end %>
      <% else %>
          <a class="lesson-plan-anchor" name="entry-<%= entry.id %>"></a>
          <h2>
            <% if (cannot? :manage, LessonPlanEntry) %>
               <%= link_to "",:id => "entity-#{entry.id}" , :class => "btn_entry" do %>
                    <span class="entry_title"><%= entry.title %></span>
                    <input type="hidden" class="entry_text_type" value="<%= entry.entry_real_type  %>">
                    <input type="hidden" class="entry_type" value="<%= entry.entry_type  %>">
                    <input type="hidden" class="entry_description" value="<%= entry.description.html_safe  %>">
                    <input type="hidden" class="entry_location" value="<%= entry.location  %>">
                    <span class="entry_start_end" style="display: none">
                      <% if entry.start_at %>
                        <span class="icon-calendar"></span>
                        <%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>
                          <% if entry.end_at %> to
                            <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                              <%= entry.end_at.strftime("%I:%M %p") %>
                            <% else %>
                              <%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>
                            <% end %>
                          <% end %>
                        <% end %>
                    </span>
               <% end %>
               <div class="discussion" style="display: none">
                  <% topic = ForumTopic.where(:discussable_type => 'LessonPlanEntry', :discussable_id => entry.id).first %>
                  <% if !topic.nil? %>
                      <div style="margin-top: 50px;"><p style=""><a class="a_discussion btn btn-success">Show Discussion</a></p></div>
                      <div class="forum" style="display: none">
                        <div class="posts">
                          <%
                             posts = topic.posts.all.sort do |a, b|
                               if not a.parent then
                                 -1
                               elsif not b.parent then
                                 1
                               else
                                 a.parent.id <=> b.parent.id
                               end
                             end

                             # This is basically a DFS: we have to emit the conversation style layout without the
                             # tree information from the database.
                             level_iter = lambda do |common_parent, level|
                               this_level = posts.select {|p| p.parent == common_parent}
                               this_level.each do |p|
                          %><%= render partial: 'forums/posts/post', locals: { post: p } %><%

                           # We start a new thread only if the current level has more than one post so that we do not
                           # indent at every reply, only those with forks.
                           child_level = posts.select {|c| c.parent == p}
                           fork = level < 3 && (this_level.length > 1 || child_level.length > 1)
                           if fork then %>
                                      <div class="thread"><% level_iter.call(p, level + 1) %></div>
                                  <% else %>
                                      <% level_iter.call(p, level) %>
                                  <% end
                                     end
                                     end

                                     level_iter.call(nil, 1)
                                  %>
                        </div>

                        <% if topic.can_be_replied_to? %>
                            <hr />

                            <div class="quick-reply">
                              <h3>Post a Reply</h3>

                              <% new_post = ForumPost.new %>
                              <% new_post.title = replize_title(topic.posts.last.title) %>
                              <%= form_for new_post, url: course_forum_topic_posts_path(@course, topic.forum, topic, new_post),
                                           html: { class: 'form-horizontal' } do |f| %>
                                  <%= render partial: 'forums/posts/form', locals: { reply_to: topic.posts.last, form: f } %>
                                  <input type="hidden" name="redirect_link" value='<%= "entity-#{entry.id}"%>' />
                                  <div class="form-actions">
                                    <%= f.submit 'Reply', class: 'btn btn-primary' %>
                                  </div>
                              <% end %>
                            </div>
                        <% end %>
                      </div>
                  <% else %>
                     <div style="margin-top: 50px;"><p style=""><a class="a_discussion btn btn-success">Show Discussion</a></p></div>
                     <div class="forum" style="display: none">
                         <div class="quick-reply">
                           <h3>Post a Dicussion</h3>

                           <% new_topic = ForumTopic.new %>
                           <% new_topic.forum = @course.forums.first %>
                           <% new_topic.title = entry.entry_real_type + ' ' + entry.title %>
                           <% new_topic.discussable_type = 'LessonPlanEntry' %>
                           <% new_topic.discussable_id = entry.id %>
                           <% new_post = ForumPost.new %>
                           <%= form_for new_post, url: course_forum_topics_path(@course, @course.forums.first),
                                        html: { class: 'form-horizontal' } do |f| %>
                               <%= render partial: 'forums/posts/form', locals: { reply_to: new_topic.posts.last, form: f } %>
                               <input type="hidden" name="topic_type" value='<%= entry.entry_real_type%>' />
                               <input type="hidden" name="topic_title" value='<%= entry.title%>' />
                               <input type="hidden" name="redirect_link" value='<%= "entity-#{entry.id}"%>' />
                               <div class="form-actions">
                                 <%= f.submit 'Reply', class: 'btn btn-primary' %>
                               </div>
                           <% end %>
                         </div>
                     </div>
                  <% end %>

               </div>
            <% else %>
                <%= entry.title %>
            <% end %>
          </h2>
      <% end %>
      <% if (can? :manage, LessonPlanEntry) %>
          <h3><%= entry.location %></h3>
          <h4>
            <% if entry.start_at %>
              <span class="icon-calendar"></span>
              <%= entry.start_at.strftime("%A, %d %b %Y %I:%M %p") %>
              <% if entry.end_at %> to
                <% if entry.start_at.yday == entry.end_at.yday and entry.start_at.year == entry.end_at.year %>
                  <%= entry.end_at.strftime("%I:%M %p") %>
                <% else %>
                  <%= entry.end_at.strftime("%A, %d %b %Y %I:%M %p") %>
                <% end %>
              <% end %>
            <% end %>
          </h4>
          <div class="show-bullet-points lesson-plan-entry-description">
            <% if entry.is_virtual? %>
              <%= truncate_html entry.description, :length => 140 %>
            <% else %>
              <%= entry.description.html_safe %>
            <% end %>
          </div>
      <% end %>
  <% if entry.resources.length > 0 %>
      <% if (cannot? :manage, LessonPlanEntry) %> <div class="resource-hide" style="display: none"> <% end %>
      <h4>Instructional Resources</h4>
      <ul>
      <% entry.resources.each { |r| %>
        <li>
          <%= link_to url_for([@course, r.obj]) do %><i class="icon-download-alt"></i><%= " #{r.obj.title}" %><% end %>
        </li>
      <% } %>
      </ul>
      <% if (cannot? :manage, LessonPlanEntry) %> </div> <% end %>
  <% elsif entry.is_virtual? %>
      <% if (cannot? :manage, LessonPlanEntry) %> <div class="resource-hide" style="display: none"> <% end %>
          <%= render partial: "file_uploads/download_local_files",
                     locals: { owner: entry.assessment }%>
      <% if (cannot? :manage, LessonPlanEntry) %> </div> <% end %>
  <% end %>
    </div>
    <div class="pull-right">
      <% if can? :manage, LessonPlanEntry and not entry.is_virtual? %>
        <%= link_to edit_course_lesson_plan_entry_path(@course, entry), class: 'btn' do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= render :partial => "layouts/delete_confirm", :locals => { :path_to_item => course_lesson_plan_entry_path(@course, entry) } %>
      <% end %>
    </div>
  </div>
</div>

