
<div>
  <div id="lesson-plan-toolbar" class="page-header <%= (can? :manage, LessonPlanEntry) ? '' : 'lesson-plan-toolbar-student' %>">
    <div class="row">
      <div class="span5">
        <h1><%= @course.customized_lesson_plan_title %></h1>
      </div>
      <div class="pull-right btn-toolbar">
        <% if can? :manage, LessonPlanEntry %>
          <div class="btn-group dropdown-trigger-on-hover">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              New <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Event", new_course_lesson_plan_entry_path() %>
              </li>
              <li>
                <%= link_to "Milestone", new_course_lesson_plan_milestone_path() %>
              </li>
              <li class="divider"></li>
              <li id="import-ivle-event-importer" data-toggle="modal" data-target="#import-ivle-event" >
                <a href="#">Import IVLE Events</a>
              </li>
              <li id="lesson-plan-open-milestone-generator" data-toggle="modal" data-target="#lesson-plan-multi-milestone" >
                <a href="#">Generate Milestones</a>
              </li>
            </ul>
          </div>
        <% end %>
        <select class="selectpicker dropdown-trigger-on-hover" id="lesson-plan-entry-filter" multiple="multiple" title="Filter" data-selected-text-format="count>1" data-width="auto">
          <% get_lesson_plan_entry_types.each {|type| %>
            <option selected="selected" data-entry-type="<%= get_lesson_plan_entry_css_class(type) %>"><%= type %></option>
          <% } %>
        </select>
        <div class="btn-group">
          <a id="lesson-plan-hide-all" class="btn">Collapse All</a>
          <a id="lesson-plan-show-all" class="btn">Expand All</a>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'lesson_plan/navigation' %>

  <div id="<%= (can? :manage, LessonPlanEntry) ? '' : 'lesson-plan-content' %>">
    <div id="milestone-entity">
      <div style="width: auto">
          <input type="hidden" id="active-entity" value="<%= @current_id%>" />
          <% grouped_milestones = @milestones.group_by { |milestone| milestone.is_virtual? } %>
          <% grouped_milestones[false] = [] unless grouped_milestones[false] %>
          <% grouped_milestones[true] = [] unless grouped_milestones[true] %>
          <% prior_items = grouped_milestones[true].select { |e| e.title == "Prior Items"  } %>
          <% other_items = grouped_milestones[true].select { |e| e.title == "Other Items" } %>
          <% sorted_milestones = prior_items + grouped_milestones[false].sort_by { |milestone| milestone.start_at } + other_items %>
          <% sorted_milestones.each { |milestone| %>
            <% if !milestone.is_virtual? || milestone.entries.length  > 0 %>
              <%= render :partial => 'lesson_plan/milestone', locals: { :milestone => milestone } %>
            <% end %>
          <% } %>
      </div>
    </div>
    <section id="detail-content">
    </section>

  </div>
  <hr class="hr-shrink-margin">
  <div class="end-of-page"></div>
</div>
  
<% if can? :manage, LessonPlanEntry %>
  <div id="import-ivle-event" class="modal hide fade" data-backdrop="static">
    <%= form_tag course_lesson_plan_import_ivle_event_path(@course), :method => 'get', class: "import-ivle-event-form" do %>
      <div class="modal-header">
        <h3>IVLE Event Importer</h3>
      </div>
      <div class="modal-body hidden">
      </div>
      <div class="modal-body">
        <div class="control-group">
          <table class="table assignments missions-list-table ver-ali-top">
            <thead>
            <tr>
              <th width="10%">Class</th>
              <th width="20%">Type</th>
              <th width="15%">Week Type</th>
              <th width="15%">Week Date</th>
              <th width="12%">Start</th>
              <th width="12%">End</th>
              <th width="10%">Room</th>
              <th width="6%">Choose</th>
            </tr>
            </thead>
            <tbody class="table-hover">

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <input id="btn-import-ivle-event" class="btn btn-primary" type="submit" value="Done" />
        <button data-dismiss="modal" class="btn">
          Cancel
        </button>
      </div>
    <% end %>
  </div>
  <div id="lesson-plan-multi-milestone" class="modal hide fade" data-backdrop="static">
    <form class="lesson-plan-milestone-generator-form">
      <div class="modal-header">
        <h3>Milestone Generator</h3>
      </div>
      <div class="modal-body hidden">
        <div id="modal-loading">
          <h2>Loading...</h2>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
      </div>
    
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="input-length-milestones">
            How long is each milestone, in days?
          </label>
          <div class="controls">
            <input type="number" id="input-length-milestones" required="required">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-number-milestones">
            How many milestones should we create?
          </label>
          <div class="controls">
            <input type="number" id="input-number-milestones" required="required">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-prefix-milestones">
            What should each milestone be prefixed with?
            <br>(For example, "Week" will generate "Week 1", "Week 2", and so on.)
          </label>
          <div class="controls">
            <input id="input-prefix-milestones" class="text_field">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="input-start-milestones">
            What day should the first milestone start on?
          </label>
          <div class="controls">
            <div class="datepicker input-append date">
              <input type="text" class="text_field" id="input-start-milestones" required="required">
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input id="lesson-plan-done-generating" class="btn btn-primary" type="submit" value="Done" />
        <button data-dismiss="modal" class="btn">
          Cancel
        </button>
      </div>
      </form>
  </div>
<% end %>

<script>

    $( document ).ready(function() {

        get_timetable_ivle();
        $('div.span-content').addClass('border-gray');
        if($('div#lesson-plan-content').length ) {
            $('div.content').addClass('stretch-content');
        }

        //slide and show hide menubar
        $('.row.main-content').prepend('<div style="position: relative; margin-left: 30px;"><a class="btn btn-navbar collapsed"><span class="icon-chevron-down"></span></a></div>');
        $(".btn.btn-navbar.collapsed").click(function () {
            if($('.span10.span-content').width()==970) {
                $('.span2.sidebar').toggle('slow',function(){
                    $('.span10.span-content').width(1170);
                });
            }else{
                $('.span10.span-content').width(970);
                $('.span2.sidebar').toggle('slow');
            }

        });

        //Hide menubar default
        if ($('#lesson-plan-content').length) {
            $('.span2.sidebar').hide();
            $('.span10.span-content').width(1170);
        }

        //show entry
        $('#lesson-plan-content a.btn_entry').click(function(){
            $('section#detail-content').empty();
            var entry_type =$(this).find('input.entry_type').val();
            var title = $(this).find('span.entry_title').text();
            var type  = $(this).find('input.entry_text_type').val();
            var des  = $(this).find('input.entry_description').val();
            var loc  = $(this).find('input.entry_location').val();
            var dis = $(this).next('div.discussion').html();
            if(entry_type =='0' || entry_type =='1'|| entry_type =='2'){
                show_lecture(title, type, des, loc);
            }else if(entry_type =='3'){
                loc = loc.replace(".html", "/media/video.mp4");
                show_video(title, type, des, loc);
            }else if(entry_type =='4'){
                show_mission_training(this,title, type, des, loc);
            }

            show_discussion(dis);
        });

        //show entry lecture, recitation, tutorial
        function show_lecture(title, type, des, loc){
            var entry_form = "<div><p style=''><h3>" + type.toUpperCase() + " " + title.toUpperCase() + "<h3></p></div>";
            entry_form += "<div><p style=''>" + des + "</p></div>";
            entry_form += "<div><p style=''>" + loc + "</p></div>";
            $('section#detail-content').append(entry_form);

            if(1==1){
                $('section#detail-content').append($("<table class='material_list'></table>"));
                $('section#detail-content .material_list').append($("<tr><td style='width: 450px'><a href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_1a_intro.pdf'>cs5228_1a_intro.pdf</a></td><td><a class='open-viewer' style='cursor: pointer'>View Online</a></td></tr>"));
                $('section#detail-content .material_list').append($("<tr><td colspan='2'><a class='a_test' href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_1a_intro.pdf'></td></tr>"));
                $('section#detail-content .material_list').append($("<tr><td style='width: 450px'><a href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_2_data.pdf'>cs5228_2_data.pdf</a></td><td><a class='open-viewer' style='cursor: pointer'>View Online</a></td></tr>"));
                $('section#detail-content .material_list').append($("<tr><td colspan='2'><a class='a_test' href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_2_data.pdf'></td></tr>"));
                $('section#detail-content .material_list').append($("<tr><td style='width: 450px'><a href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_3_classification_1.pdf'>cs5228_3_classification_1.pdf</a></td><td><a class='open-viewer' style='cursor: pointer'>View Online</a></td></tr>"));
                $('section#detail-content .material_list').append($("<tr><td colspan='2'><a class='a_test' href='http://www1.i2r.a-star.edu.sg/~jspan/courses/nus/slides/cs5228_3_classification_1.pdf'></td></tr>"));

                $('section#detail-content .material_list .open-viewer').click(function() {
                    if($(this).text()=="View Online") {
                        $(this).parent().parent().next().find('a').gdocsViewer({width: 650, height: 450});
                        $(this).text("Hide");
                    }else if ($(this).text()=="Show"){
                        $(this).parent().parent().next().show();
                        $(this).text("Hide");
                    }else{
                        $(this).parent().parent().next().hide();
                        $(this).text("Show");
                    }
                    //return false;
                });
            }

        }

        //show video
        function show_video(title, type, des, loc){
            var entry_form = "<div><p style=''><h3>" + type.toUpperCase() + " " + title.toUpperCase() + "<h3></p></div>";
            entry_form += "<div><p style=''>" + des + "</p></div>";
            entry_form += "<div><video width='90%' controls>";
            entry_form += "<source src='" + loc + "' type='video/mp4'>";
            entry_form += "Your browser does not support the video tag.";
            entry_form += "</video></div>";
            $('section#detail-content').append(entry_form);
        }

        //show entry mission training
        function show_mission_training(entry, title, type, des, loc){
            var start  = $(entry).find('input.entry_start').val();
            var end  = $(entry).find('input.entry_end').val();
            var url  = $(entry).find('input.entry_url').val();

            var entry_form = "<div><p style=''><h3>" + type.toUpperCase() + " " + title.toUpperCase() + "<h3></p></div>";
            entry_form += "<div><p style=''>" + des + "</p></div>";
            entry_form += "<div><p style=''>" + loc + "</p></div>";
            entry_form += "<div><p style=''><h4>" + (start ? "<span class='icon-calendar'></span>" + " " + start : "") + (end ? " to " + end : "") + "</h4></p></div>";
            entry_form += "<div><a class='attempt-assessment btn btn-success' href='" + url + "'>Attempt</a></div>";
            $('section#detail-content').append(entry_form);
        }

        $('#lesson-plan-content a.attempt-assessment').click(function() {
            //alert("abc");
            //return false;
        });

        function show_discussion(discussion){
            var entry_form = "";
            $('section#detail-content').append(entry_form);
            $('section#detail-content').append(discussion);
            $('section#detail-content a.a_discussion').click(function() {
                $('section#detail-content .forum').toggle('slow');
                if ($('section#detail-content a.a_discussion').text()=="Show Discussion"){
                    $('section#detail-content a.a_discussion').text("Hide Discussion");
                }else{
                    $('section#detail-content a.a_discussion').text("Show Discussion");
                }
            });
        }

        if($('#active-entity')){
            $("a#"+$('#active-entity').val()).parent().parent().parent().parent().parent().parent().find(".lesson-plan-header.span8").click();
            $("a#"+$('#active-entity').val()).click();
            $('section#detail-content .forum').show();
            $('section#detail-content a.a_discussion').text('Hide Discussion');
        }



    });

    function get_timetable_ivle(){
        var key = "mHy1mEcwwWvlHYqc9bNdO", token = "0AEF67B3087104AD3EC6B505D3DA61BB140A6B2D944082A73DFDE2A1B200786149C406D1BE7B6D37E70DA9CF363910B55EA12C0C67D418D36074AB36F740475F64989431BC7533A8DB1482D2E184DE966933F19FF6F8C876D6DA0EFB7AF78552E9BD8017BFB74BF3DDD07181BA5B04C7DC3BCED0F4CA50E066DF2353A4454E05D2CA113863570F9F6F67689E180096AD74057B3FE5DC29FA31CC8BF7E5C5626A51520888A4802C5D6F6AA2E5B7763FE63BB037235269506B6B80C61F165E270093C61A9B28C26882AA9236FFBE3839B0", user = ivle.User(key, token);
        // you must init the user
        user.init().done(function() {});

        user.get("Timetable_Module", {CourseID: "61e76782-0ca8-449d-aa48-d20e93a1358a"})
                .success(function (data) {
                    $.each(data.Results, function( ind, val ) {
                        $('div#import-ivle-event table tbody').append($("<tr><td>" + val.ClassNo + "</td><td>" + val.LessonType + "</td><td>" + val.WeekText + "</td><td>" +  val.DayText + "</td><td>" + val.StartTime + "</td><td>" + val.EndTime + "</td><td>" + val.Venue
                                + "</td><td><input type='checkbox' value='" + val.ClassNo + "' name='ivle_event[choose][]' />"
                                + "<input type='hidden' name='ivle_event[lesson_type][" + val.ClassNo + "]' value='" + val.LessonType  + "'>"
                                + "<input type='hidden' name='ivle_event[week_text][" + val.ClassNo + "]' value='" + val.WeekText  + "'>"
                                + "<input type='hidden' name='ivle_event[day_code][" + val.ClassNo + "]' value='" + val.DayCode  + "'>"
                                + "<input type='hidden' name='ivle_event[start_time][" + val.ClassNo + "]' value='" + val.StartTime  + "'>"
                                + "<input type='hidden' name='ivle_event[end_time][" + val.ClassNo + "]' value='" + val.EndTime  + "'>"
                                + "<input type='hidden' name='ivle_event[venue][" + val.ClassNo + "]' value='" + val.Venue  + "'>"
                                + "</td></tr>"));

                    });
                });
    }

</script>