<table class="table assignments missions-list-table ver-ali-top">
    <thead>
	    <tr>
            <th width="3%"></th>
	    	<th width="65%">Question</th>
	    	<th width="15%">Tags</th>
	    	<th width="7%"><%= sortable 'level', course_assessment_questions_path, @phantom ? 'phantom=true' : 'phantom=false' %></th>

	    	<%- if @assessment.nil? %>
	    	<th width="10%">Action</th>
	    	<%- else %>
	    	<th width="10%">Add <input type="checkbox" class="selectall_question_option" ></th>
	    	<%- end %>
		</tr>
    </thead>

    <tbody class="table-hover">
    	<% @questions.each_with_index do |q, index| %>
	      <%= render partial: "single_question_field", locals: {q: q, index:index+@qn_paging_index_offset} %>
	    <% end %>
    </tbody>
</table>

<div style="display:block; margin-left: auto; margin-right:0;">
	<% if @qn_paging.display? %>
		<%= paginate @questions %>
	<% end %>
</div>

<%- if !@assessment.nil? && @assessment.questions.size > 0 %>
	<table class="table assignments missions-list-table ver-ali-top">
		  <thead>
			  <tr>
		          <th width="3%"></th>
			  	<th width="65%">Selected Questions</th>
			  	<th width="15%">Tags</th>
			  	<th width="7%"><%= sortable 'level', course_assessment_questions_path, @phantom ? 'phantom=true' : 'phantom=false' %></th>

			  	<%- if @assessment.nil? %>
			  	<th width="10%">Action</th>
			  	<%- else %>
			  	<th width="10%">Add <input type="checkbox" class="selectall_question_option" ></th>
			  	<%- end %>
			</tr>
		  </thead>
		  <tbody class="table-hover">
		    <% @assessment.questions.each_with_index do |q, index| %>
			    <%= render partial: "single_question_field", locals: {q: q, index:index} %>
			  <% end %>
		  </tbody>
	</table>
<%- end %>

	<%- if !@assessment.nil? %>
		<div class="form-action">
		<%= fi.submit "update", :class => 'btn btn-primary form-submit' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn' %>
		</div>
	<% end %>

<script>
    $('a.show-more').click(function() {
        if($(this).text()==='Show More') {
            $(this).prev().addClass("show-max-height");
            $(this).text('Hide');
        }else{
            $(this).prev().removeClass("show-max-height");
            $(this).text('Show More');
        }
    });

    $('input.selectall_question_option').click(function() {
        $(this).closest('table').find('input.question_option').prop('checked', $(this).prop('checked'));
    });
</script>
