<%- if @assessment.nil? %>
	<%- qs_path = course_assessment_questions_path %>
<%- else %>
	<%- qs_path = course_assessment_path(@course,@assessment) + '/questions/add_question' %>
<%- end %>
<%= form_tag qs_path, :method => 'get', class: "form-inline" do %>
	<table class="table-search">
        <tr>
            <td><label>Search with:</label></td>
            <td><%= text_field_tag 'search_string',nil, class: 'question_search' %></td>
        </tr>
        <tr>
            <td><label>Filter by Concept:</label></td>
            <td><div class="tag" style="display: inline; width: 350px">
            <input type="tag" name="tags"
                   allowFreeTagging="false"
                   url="<%= course_assessment_questions_path %>"
                   value="<%= !@summary.nil? ? @summary[:selected_tags].map {|s| {id: 0, name:s}}.to_json : '[]'%>">
            </div></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn">Search</button></td>
        </tr></table>
<% end %>   

<%- if @assessment.nil? %>
	<p>
		<%= link_to t('.new', :default => t("helpers.links.new_qn")),
		                    new_course_assessment_general_question_path(@course),
		                    :class => 'btn btn-primary' %>
		<%= link_to t('.new', :default => t("helpers.links.new_cq")),
	                    new_course_assessment_coding_question_path(@course),
	                    :class => 'btn btn-primary' %>
		<%= link_to t('.new', :default => t("helpers.links.new_mcq")),
	                    new_course_assessment_mcq_question_path(@course),
	                    :class => 'btn btn-primary' %>                 	                    
	
	</p>
	<%= render partial: "fields"%>
<%- else%>
	<%= simple_form_for [@course,@assessment.as_assessment] do |f| %>
		<%= render partial: "fields", locals: {fi: f}%>
	<% end %>
<%- end %>	


 