<div class="page-header">
  <h1> <%= @question.title %></h1>
</div>

<div style="float: right">
  <%= link_to main_app.edit_course_assessment_mpq_question_url(@course,@question), class: "btn btn-large-icon" do %>
      <i class="icon-edit"></i>
  <% end %>
</div>

<table>
  <tr>
    <td style="height: 40px; line-height: 20px">Description:</td>
    <td>
        <%= style_format(@question.description) %>
    </td>
   </tr>
  <tr>
    <td>Max Grade:</td>
    <td>
        <%= @question.max_grade %>
    </td>
  </tr>
</table>
<hr/>

<h2 class="asm-qns-title">Sub Questions</h2>
<%= link_to "New Sub Question",
            new_course_assessment_mpq_question_assessment_general_question_path(@course, @question),
            :class => 'btn btn-primary' %>
<%= link_to "New Sub Coding Question",
            new_course_assessment_mpq_question_assessment_coding_question_path(@course, @question),
            :class => 'btn btn-primary' %>
<%= link_to "New Sub MCQ Question",
            new_course_assessment_mpq_question_assessment_mcq_question_path(@course, @question),
            :class => 'btn btn-primary' %>

<table class="table asm-qns-table sort">
  <tbody class="asm-qns sortable-table" >
  <% if !@questions.nil? %>
      <% @questions.each_with_index do |qn, index| %>
          <% q = qn.as_question %>
          <tr class="asm-qn" id="sortable-item_<%= qn.id %>" >
            <td>
              <div>
                <div class="asm-qn-handler">
                  <i class="icon-move handler-icon"></i>
                  <h3 class="handler-text">Sub Question <span class="asm-qn-index"><%= index + 1 %></span>
                    <%= ": #{q.title}" if !q.title.nil? and !q.title.empty? %>
                  </h3>
                </div>

                <% if q.class == Assessment::McqQuestion %>
                    <%= render partial: "assessment/mcq_questions/one", locals: { q: q, show_answer: true } %>
                <% else %>
                    <%= style_format(q.description) %>
                <% end %>
              </div>
            </td>


            <% if can? :manage, Assessment::Training %>
                <td class="action-there-icons">
                  <div class="btn-group">
                   <%= link_to polymorphic_path([@course, @question, q], action: :edit), class: 'btn' do %>
                        <i class="icon-edit"></i>
                    <% end %>
                    <%- delete_url = url_for([@course, @question, q])%>
                    <%= link_to url_for([@course, @question, q]),
                                method: :delete,
                                data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete 'Question #{q.title}'?")) },
                                class: 'btn btn-danger' do %>
                        <i class="icon-trash"></i>
                    <% end %>

                  </div>
                </td>
            <% end %>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>