<div class="page-header">
  <h1><%= @policy_mission.title %></h1>
</div>
<p class="well"><%= @policy_mission.description.html_safe %></p>

<div id="training-stop-pos" id="step-list-top"><br></div>
<hr/>

<% if @summary.has_key?(:lastResult) && @summary.has_key?(:explanation) %>
    <div id="explanation" class="well">
      <h3 class="result">For last question: <%= @summary[:lastResult] %></h3>
      <p class="reason"><%= style_format(@summary[:explanation]) %></p>
      <% if @summary.has_key?(:promoted) %>
          <p class="reason">You have now advanced to <%= @summary[:tagName] %></p>
      <% end %>
      <% if @summary.has_key?(:reset) %>
          <p class="reason">Your progress has been resetted</p>
      <% end %>
    </div>
<% end %>

<% if !@summary[:current] %>
    <h2>Congratulations, you're done!</h2>
    <p>
      <a href="<%= course_assessment_submission_path(@course, @assessment, @submission)%>">
        Click here
      </a> to review your answers.
    </p>
<% else %>
    <div class="step-list">
      <div>
        <label>Currently at level:</label>
        <h3 style="display:inline; margin-left: 5px;"><%= @summary[:tagName] %></h3>
      </div>
      <% if @summary[:consecutive] %>
          <div>
            <label>Type:</label>
            <h4 style="display:inline; margin-left: 5px;">Consecutive</h4>
          </div>
      <% end %>
      <div class="progress" style="width: 50%; margin-left:auto; margin-right:auto;">
        <div class="bar" role="progressbar" aria-valuenow="<%= @summary[:completedQuestions] * 100 / @summary[:totalQuestions] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @summary[:completedQuestions] * 100 / @summary[:totalQuestions] %>%">
          <%= @summary[:completedQuestions] %> / <%= @summary[:totalQuestions] %>
        </div>
      </div>
    </div>
    <hr/>

    <% if !@from_lesson_plan.nil? and @from_lesson_plan == "true"  %>
    <form id="training-step-form" action="<%= edit_course_assessment_submission_path(@course, @assessment, @submission, anchor: 'step-list-top', :from_lesson_plan => "true" ) %>" method="post">
    <% else %>
    <form id="training-step-form" action="<%= edit_course_assessment_submission_path(@course, @assessment, @submission, anchor: 'step-list-top') %>" method="post">
    <% end %>
      <input type="hidden" name="qid" value="<%= @summary[:current].question.id %>" />

      <% if @summary[:current].class == Assessment::McqQuestion %>
          <%= render partial:"do_mcq", locals: {mcq: @summary[:current]} %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
      <% else %>
          <h2>Regulated Training does not support non-mcq questions.</h2>
      <% end %>
    </form>

    <% if @policy_mission.comment_per_qn? %>
        <%= render partial: "comments/list",
                   locals: { comments:  CommentTopic.comments_to_json(@summary[:current].comment_topic_temp, curr_user_course),
                             target:    @summary[:current],
                             header:    "Comments on the Question",
                             margin_left: "0px" } %>
    <% end %>

<% end %>
