<div class="page-header">
  <h1>
    Policy Mission submission: <%= @policy_mission.title %>
  </h1>
</div>
<p class="well"><%= @policy_mission.description.html_safe %></p>

<% if @policy_mission.multiple_submissions == true %>
	<select id="select-policy-list">
  </select>
<% end %>

<% if @summary[:forwardContent] %>
	<div>
		<h2>Statistics</h2>
		<hr/>
		<div class="well">
			<table width="100%">
  		<col width="20%" />
  			<tr>
					<td><strong>Student:</strong> </td>
					<td><%= render partial: "layouts/user_name_link", locals: {user_course: @submission.std_course} %></td>
				</tr>
				<tr>
					<td><strong>Status:</strong> </td>
					<td><%= @summary[:forwardContent][:status] ? "Passed" : "Failed" %></td>
				</tr>
				<tr>
					<td><strong>Highest level:</strong> </td>
					<td><%= @summary[:forwardContent][:highestLevel] %></td>
				</tr>
				<tr>
					<td><strong>Incorrectly answered count:</strong> </td>
					<td><%= @summary[:forwardContent][:wrongCount] %></td>
				</tr>
  			<tr>
					<td><strong>Submitted at:</strong> </td>
					<td><%= time_ago_in_words(@submission.created_at) %> ago</td>
				</tr>
			</table>
		</div>
	</div>
	<hr/>
	<div>
		<h2>Attempted Questions</h2>
		<div>		
			<%= link_to "Click here",
									export_course_assessment_submission_path(@course, @assessment, @submission, format: "xls"),
									method: "GET" %>
									to export the statistics in Excel format.
		</div>
		<hr/>
		<% @summary[:forwardContent][:levels].each do |singleLevel| %>
			<div class = "well">
				<h3><%= singleLevel[:tagName] %></h3><hr/>
				<% singleLevel[:questions].each do |singleLevelQuestion| %>
					<div>
						<h4><%= style_format(singleLevelQuestion[:description]) %></h4>
						<div>
							<% if singleLevelQuestion[:correct] %>
								<label>Correctly chosen option : </label>
								<% singleLevelQuestion[:rightOption].each do |option| %>
									<p style="color:green; margin-left: 10px;"><%= style_format option.text %></p>
								<% end %>

							<% else %>
								<label>Incorrectly chosen option : </label>
								<% singleLevelQuestion[:chosenOption].each do |option| %>
									<p style="color:red; margin-left: 10px;"><%= style_format option.text %></p>
								<% end %>
								<label>Correct option : </label>
								<% singleLevelQuestion[:rightOption].each do |option| %>
									<p style="margin-left: 10px;"><%= style_format option.text %></p>
								<% end %>
							<% end %>
						</div>						
					</div>
					<hr/>					
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>

