<p><%= style_format(mcq.description) %></p>
<% if mcq.select_all %>
    <p style="margin-left: 15px">* Select all correct answers</p>
<% end %>
<input type="hidden" id="mcq-qid" value="<%= mcq.question.id %>"/>
<ul>
    <%# mcq.options.shuffle.each do |opt| %>
    <% mcq.options.each do |opt| %>
        <li class="checkbox-text">
            <% if mcq.select_all %>
                <input class="choices" type="checkbox" name="mcq-answers" value="<%= opt.id %>" id="value=<%= opt.id %>"/>
            <% else %>
                <input class="choices" type="radio" name="mcq-answers" value="<%= opt.id %>" id="value=<%= opt.id %>"/>
            <% end %>
            <label for="value=<%= opt.id %>"> <%= style_format(h(opt.text)) %></label>
        </li>
    <% end %>
</ul>