<% hidden = true %>

<div class="concept-tutorial">
	<div id="tutorial-nav" class="tutorial-nav <%= hidden ? "post-animate-tutorial-nav" : "pre-animate-tutorial-nav" %> ">
		<%= render  partial: "student_interface_progressbar" %>
		<%= render  partial: "student_interface_sidebar" %>
	</div>
	<div id="tutorial-content" class="tutorial-content <%= hidden ? "post-animate-tutorial-content" : "pre-animate-tutorial-content" %> ">
		<div class="task-header-container">
			<div class="cur-concept-title">
        <a class="btn btn-info btn-navbar collapsed stud-int-sidebar-collapse"><span class="icon-align-justify"></span></a>
        <div class="cur-concept-title-slave">
					<h2>HTML</h2>
				</div>			
			</div>
			<div class="in-a-row">
				<div><h4>Get 2 correct in a row</h4>
					<div class="row-img">
						<div class="img-correct-item"></div>
						<div class="img-correct-item"></div>
					</div>
				</div>
				<div class="cur-std-got"></div>
			</div>
		</div>
		<div class="task-content-container">
			<form id="answerform" name="answerform">
				<div id="problemarea" class="problemarea">
					<div id="workarea" class="workarea"><%= render "do_mcq" %></div>
					<div id="hintsarea" class="hintsarea"></div>
				</div>
				<div id="answer_area_wrap">
					<div id="answercontent" class="info-box">
						<span class="info-box-header">Answer</span>
						<div id="solutionarea" class="fancy-scrollbar solutionarea">
							<div data-reactid=".w">
								<div class="paragraph" data-reactid=".w.0">
									<div data-reactid=".w.0.0">
										<span data-reactid=".w.0.0.0:0">Select the correct answer.</span>
									</div>
								</div>
							</div>
						</div>
						<ul id="examples" style="display: none"></ul>
						<div class="answer-buttons">
							<div class="check-answer-wrapper">
								<input id="check-answer-button" class="btn btn-success" type="button" value="Check Answer">
								<input id="next-question" style="display: none" class="btn btn-success" type="button" value="Next Question">
							</div>
								<input id="next-question-button" class="simple-button green" type="button" value="" name="correctnextbutton" style="display:none;">
							<div id="positive-reinforcement" style="display: none;">
								<img src="/images/face-smiley.png">
							</div>
								<span id="show-solution-button-container"></span>
							<div id="check-answer-results">
								<p class="check-answer-message info-box-sub-description"></p>
							</div>
						</div>
						
					</div>
					<div class="info-box hint-box" style="top: 0px;">
						<span class="info-box-header">Show me how</span>
						<div id="get-hint-button-container"></div>
						<span id="hint-remainder"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
<div>
<input type="hidden" id="cur-question" value="1">
<script>
	
	$(document).ready(function(){
		$(".sidebar-collapse").click(function () {
	  	var mainControls = $('#mainscreen-control');
    	if(mainControls.hasClass("span10")) {
		    $('.span2.sidebar').toggle('slow', function() {      
          $('#mainscreen-control').removeClass("span10").addClass("span12");
        });
    	}
	  	else if (mainControls.hasClass("span12")){
        $('#mainscreen-control').removeClass("span12").addClass("span10");
        $('.span2.sidebar').toggle('slow', function() {      
        });
    	}

		});

    $(".stud-int-sidebar-collapse").click(function () {
	  	var tutorialContent = $('#tutorial-content');
    	if(tutorialContent.css("margin-left") == "200px") {
		    
        $( "#tutorial-nav" ).animate({
          width: "0px"
        }, 500, function() {
          $(this).hide();
        });
        tutorialContent.animate({
          marginLeft: "0px"
        }, 500);
        //tutorialContent.css("margin-left", "0px");
    	}
	  	else if (tutorialContent.css("margin-left") == "0px"){
        $( "#tutorial-nav" ).show();
        $( "#tutorial-nav" ).animate({
          width: "200px"
        }, 500);
        tutorialContent.animate({
          marginLeft: "200px"
        }, 500);
        //tutorialContent.css("margin-left", "200px");
    	}

		});
	});
	
</script>
