
<div class="concept-tutorial">
	<div id="tutorial-nav" class="tutorial-nav <%= hidden ? "post-animate-tutorial-nav" : "pre-animate-tutorial-nav" %> ">
		<%= render  partial: "student_interface_progressbar" %>
		<%= render  partial: "student_interface_sidebar" %>
	</div>
	<div id="tutorial-content" class="tutorial-content <%= hidden ? "post-animate-tutorial-content" : "pre-animate-tutorial-content" %> ">
		<div class="task-header-container">
			<div class="cur-concept-title">
        <a class="btn btn-info btn-navbar collapsed stud-int-sidebar-collapse"><span class="icon-align-justify"></span></a>
        <div class="cur-concept-title-slave">
					<h2>HTML</h2>
				</div>			
			</div>
			<div class="in-a-row">
				<div><h4>Get 2 correct in a row</h4>
					<div class="row-img">
						<div class="img-correct-item"></div>
						<div class="img-correct-item"></div>
					</div>
				</div>
				<div class="cur-std-got"></div>
			</div>
		</div>
		<div class="task-content-container">
			<%= render  partial: "topicconcept_map", locals:{manage_permission: false} %>
		</div>
	</div>
<div>

<div class="topicconcept-loading-modal hide fade" id="processing-halt-all" data-backdrop="static" data-keyboard="true">
  <h1>Processing.... Please wait</h1>
  <div class="processing-ball"></div>
  <div class="inner-processing-ball"></div>
</div>

<input type="hidden" id="cur-question" value="1">
<script>
	
	$(document).ready(function(){
		$(".sidebar-collapse").click(function () {
	  	var mainControls = $('#mainscreen-control');
    	if(mainControls.hasClass("span10")) {
		    $('.span2.sidebar').toggle('slow', function() {      
          $('#mainscreen-control').removeClass("span10").addClass("span12");
        });
    	}
	  	else if (mainControls.hasClass("span12")){
        $('#mainscreen-control').removeClass("span12").addClass("span10");
        $('.span2.sidebar').toggle('slow', function() {      
        });
    	}

		});

    $(".stud-int-sidebar-collapse").click(function () {
	  	var tutorialContent = $('#tutorial-content');
    	if(tutorialContent.css("margin-left") == "200px") {
		    
        $( "#tutorial-nav" ).animate({
          width: "0px"
        }, 500, function() {
          $(this).hide();
        });
        tutorialContent.animate({
          marginLeft: "0px"
        }, 500);
        //tutorialContent.css("margin-left", "0px");
    	}
	  	else if (tutorialContent.css("margin-left") == "0px"){
        $( "#tutorial-nav" ).show();
        $( "#tutorial-nav" ).animate({
          width: "200px"
        }, 500);
        tutorialContent.animate({
          marginLeft: "200px"
        }, 500);
        //tutorialContent.css("margin-left", "200px");
    	}

		});
	});
	
</script>
