<% menuItemSelected = 0 %>
<% if current_page? :course_topicconcepts %>
   <% menuItemSelected = 0; %>
<% elsif current_page? :diagnostic_exploration_course_topicconcept %>
   <% menuItemSelected = 1; %>
<% end %>

<% appendedURL = "" %>
<% if @student_view %>
 <% appendedURL = "?student_view=true" %>
<% end %>

<div class="slimScrollDiv">
  <ul>
    <li class="required-concept-node <%= menuItemSelected == 0 ? "selected" : "" %> 
                                     <%= menuItemSelected > 0 ? "completed" : "" %>">
  		<a href="<%= course_topicconcepts_path(@course) + appendedURL %>">
      	<div class="subway-icon">
          <div class="pipe"></div>							
          <div class="status exercise-node"></div>						
      	</div>
      	<span class="progress-title">Select</span>
  		</a>
    </li>
    <li class="required-concept-node <%= menuItemSelected == 1 ? "selected" : "" %> 
                                     <%= menuItemSelected > 1 ? "completed" : "" %>">
  		<a href="#" onclick="alert('Please select a concept node to start at first.');">
      	<div class="subway-icon">
          <div class="pipe"></div>							
          <div class="status exercise-node"></div>						
      	</div>
      	<span class="progress-title">Solve</span>
  		</a>
    </li>
    <li class="<%= @course.forums_enabled? ? "required-concept-node" : "main-concept" %> 
               <%= menuItemSelected == 2 ? "selected" : "" %> 
               <%= menuItemSelected > 2 ? "completed" : "" %>">
  		<a href="#" onclick="alert('Please select a concept node to start at first.');">
      	<div class="subway-icon">
          <div class="pipe"></div>							
          <div class="status exercise-node"></div>						
      	</div>
      	<span class="progress-title">Review</span>
  		</a>
    </li>

    <% if @course.forums_enabled? %>
      <li class="main-concept <%= menuItemSelected == 3 ? "selected" : "" %> 
                              <%= menuItemSelected > 3 ? "completed" : "" %>">
  		  <a href="<%= course_forums_path(@course) %>" target="_blank">
    		  <div class="subway-icon">
        	  <div class="pipe"></div>							
          	<div class="status exercise-node"></div>						
    		  </div>
    		  <span class="progress-title">Discuss</span>
  		  </a>
      </li>
    <% end %>
  </ul>
</div>
