<form action="<%= request.original_url %>" method="POST" onsubmit="halt();">
	<div class="feedback-form-div">
		Top Results: <input name="freq_wrong_count" type="number" value="<%= @freq_wrong_count %>" min="0"/>
		&nbsp;&nbsp;&nbsp; 
	</div>
	<div class="feedback-form-div">
		Tag: 
		<select class="input-medium" name="tag_id">
			<option name="tag_id" value="nil" <%= "selected" if @tag.nil? %> >All</option>
			<% @tags.each do |tag| %>
				<option value="<%= tag.id %>" <%= "selected" if @tag == tag %>><%= tag.name %></option>
			<% end %>
		</select>
		&nbsp;&nbsp;&nbsp; 
	</div>
	<div class="feedback-form-div">
		Concept:
		<select class="input-medium" name="freq_concept_id">
			<option name="chosen_concept_id" value="nil" <%= "selected" if @chosen_concept.nil? %> >All</option>
			<% @concepts.each do |concept| %>
				<option value="<%= concept.id %>" <%= "selected" if @chosen_concept == concept %>><%= concept.name %></option>
			<% end %>
		</select>
		&nbsp;&nbsp;&nbsp; 
	</div>
	<div class="feedback-form-div">
		Correct?:
		<input type="checkbox" name="correct" value="true" <%= "checked" if @choose_correct %>/>
		&nbsp;&nbsp;&nbsp; 
	</div>
	<div class="feedback-form-div">
		<input class="btn" type="submit" value="Go" />
		&nbsp;&nbsp;&nbsp; 
	</div>
</form>

<%= render partial: "get_freq_answers_feedback_table" %>