<div style="margin-left: 20px;">
	<form class="form-inline" action="<%= request.original_url %>" method="POST">
		<div style="display:inline-block;">
			From: <input type="date" name="start_period" class="" value="<%= start_period %>"/>&nbsp;&nbsp;&nbsp; 
		</div>
		<div style="display:inline-block;">
			To: <input type="date" name="end_period" value="<%= end_period %>"/>&nbsp;&nbsp;&nbsp;
		</div>
		<div style="display:inline-block;">
			Step:
			<select class="input-small" name="time_step">
				<option value="day" <%= "selected" if time_step == "day" %> >Day</option>
				<option value="month" <%= "selected" if time_step == "month" %> >Month</option>
				<option value="year" <%= "selected" if time_step == "year" %> >Year</option>
			</select>
		</div>
		&nbsp;&nbsp;&nbsp;
		<div style="display:inline-block;">
			Correct?:
			<input type="checkbox" name="correct" value="true" <%= "checked" if correct %> />
		</div>
		<div style="display:inline-block;">
			Accumulative?:
			<input type="checkbox" name="accumulative" value="true" <%= "checked" if accumulative %> />
		</div>
		&nbsp;&nbsp;&nbsp;<input class="btn" type="submit" value="Submit" />
	</form>	
</div>

<div id="overall-trend" style="height: 600px;"></div>

<script>
	$(document).ready(function(){
		Morris.Area({
		    element: 'overall-trend',
            gridEnabled: true,
		    data: <%=raw data.to_json %>,
		    xkey: '<%= x %>',
		    ykeys: <%=raw y.to_json %>,
		    labels: <%=raw concepts.to_json %>,
            resize: true,
		    pointSize: 3,
		    hideHover: 'auto'
		});
	});


</script>