
<div class="concept-tutorial">
	<div class="tutorial-nav">
		<div class="nav-head-container">
			<div class="nav-head-concept">
				<h3><%= @concept.name%></h3>			
			</div>
		</div>
		<div class="slimScrollDiv">
			<ul>
				<% @dependencies.each_with_index do |d,i|%>
				<li id="li_<%= d.id%>" class="required-concept-node <%= i==0 ? "selected" : ""%>">
					<a>
						<div class="subway-icon">
							<div class="pipe"></div>							
							<div class="status exercise-node"> </div>						
						</div>
						<span class="progress-title"><%= d.name%></span>
					</a>
				</li>
				<% end %>
				<li id="li_<%= @concept.id%>" class="main-concept">
					<a>
						<div class="subway-icon">
							<div class="pipe"></div>							
							<div class="status exercise-node"> </div>						
						</div>
						<span class="progress-title"><%= @concept.name%></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tutorial-content">
		<div class="task-header-container">
			<div class="cur-concept-title">
				<h2><span><%= @current_dependency.name%></span></h2>				
			</div>
			<div class="in-a-row">
				<div><h4>Get 2 correct in a row</h4>
					<div class="row-img">
						<div class="img-correct-item"></div>
						<div class="img-correct-item"></div>
					</div>
				</div>
				<div class="cur-std-got"></div>
			</div>
		</div>
		<div class="task-content-container">
			<form id="answerform" name="answerform">
				<div id="problemarea" class="problemarea">
					<div id="workarea" class="workarea"><%= render "do_mcq" %></div>
					<div id="hintsarea" class="hintsarea"></div>
				</div>
				<div id="answer_area_wrap">
					<div id="answercontent" class="info-box">
						<span class="info-box-header">Answer</span>
						<div id="solutionarea" class="fancy-scrollbar solutionarea">
							<div data-reactid=".w">
								<div class="paragraph" data-reactid=".w.0">
									<div data-reactid=".w.0.0">
										<span data-reactid=".w.0.0.0:0">Select the correct answer.</span>
									</div>
								</div>
							</div>
						</div>
						<ul id="examples" style="display: none"></ul>
						<div class="answer-buttons">
							<div class="check-answer-wrapper">
								<input id="check-answer-button" class="btn btn-success" type="button" value="Check Answer">
								<input id="next-question" style="display: none" class="btn btn-success" type="button" value="Next Question">
							</div>
								<input id="next-question-button" class="simple-button green" type="button" value="" name="correctnextbutton" style="display:none;">
							<div id="positive-reinforcement" style="display: none;">
								<img src="/images/face-smiley.png">
							</div>
								<span id="show-solution-button-container"></span>
							<div id="check-answer-results">
								<p class="check-answer-message info-box-sub-description"></p>
							</div>
						</div>
						
					</div>
					<div class="info-box hint-box" style="top: 0px;">
						<span class="info-box-header">Show me how</span>
						<div id="get-hint-button-container"></div>
						<span id="hint-remainder"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
<div>
<input type="hidden" id="cur-question" value="<%= @firstquestion.id%>">
<script>
	
	$(document).ready(function(){
		$('input#check-answer-button').click(function() {
			var ans_id = $('input:radio[name=answers]:checked').val();
			var question_id = $('input#cur-question').val();
			var result = submit_answer(question_id, ans_id);
			var add_flag = true;
			if (add_flag){
				if (result == 'correct') {
					$('.cur-std-got').append('<div class="img-correct-item"></div>');
					$('input#check-answer-button').val("Check Answer");
					$('input#check-answer-button').toggle();
					$('input#next-question').toggle();
				}else{
					$('input#check-answer-button').val("Wrong! try again");
					$('.cur-std-got').append('<div class="img-wrong-item"></div>');
				}
			}
		});
	});
	
	function submit_answer(question_id, ans_id){
		var result;
		$.ajax({
	    type: "POST",
	    dataType: "json",
	    async: false,
	    url: "<%= course_path(@course)%>" + "/topicconcepts/submit_answer",
	    data: {
	    		concept_id: <%= @current_dependency.id%>,
	    		question_id: question_id,
	    		ans_id: ans_id	    	
	    	},
	    success: function(json) {
	    	result = json.result; 
	    }
	  });
	  return result;
	}
</script>
