<div class="page-header">
  <h1>Survey Statistics: <%= @survey.title %></h1>
</div>

<%= render partial: "nav_bar" %>
<% no_qn = @survey.survey_questions.count %>

<% titles = ["Staff","All Students","Phantom Students"] %>
<% [@staff_courses, @std_courses, @std_courses_phantom].each_with_index do |user_courses, index| %>
    <h3><%= titles[index]%></h3>
    <% if index == 0 or (index == 1 and !@survey.anonymous) or index == 2 %>
        <%= render partial: "identified_stats",:locals => { :no_qn => no_qn, :user_courses => user_courses } %>
    <% elsif index == 1 and @survey.anonymous %>
        <%= render partial: "anonymous_stats",:locals => { :no_qn => no_qn, :submissions => @submissions.select{ |s| !s.user_course or (s.user_course and s.user_course.is_real_student?) } } %>
    <% end %>

<% end %>