<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>

<%= form_for @course, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Give it an awesome name", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field span6',
          placeholder: "eg: Maths Universe, Geovengers" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Give it an awesome backstory", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area span6', rows: '10',
          placeholder: "eg: Darth Vader is taking over the universe. We need you to save the day!" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Choose IVLE module (Optional)", class: 'control-label' %>
    <div class="controls">
      <%= f.select :module_id, [], {:prompt => 'Select IVLE module'},  {:class => 'select span4'}  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                courses_path, class: 'btn' %>
  </div>
<% end %>

<% if @ivle_token %>
    <input type="hidden" id="ivle_token" value="<%= @ivle_token %>" />
    <input type="hidden" id="ivle_api" value="<%= @ivle_api %>" />
<% end%>
<script>

    $(document).ready(function(){
        if($("#ivle_token").length) {
            var key = $("#ivle_api").val(), token = $("#ivle_token").val(), user = ivle.User(key, token);
            // you must init the user
            user.init().done(function () {});
            var modules = [];
            user.modules().success(function(mods) {
                modules = mods.Results; // mods = Module[...]
                $.each(modules, function(){
                    $('#course_module_id').append("<option value='" + this.ID + "'>" + this.CourseCode + " - " + this.CourseName + "</option>");
                });
            });
        }
    });
</script>