<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	xmlns:x="urn:schemas-microsoft-com:office:excel"
	xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	xmlns:html="http://www.w3.org/TR/REC-html40">

	<% if @summary[:forwardContent] %>
		
		<Worksheet ss:Name="Overall">
			<Table>
				<Row>
					<Cell><Data ss:Type="String">Student ID</Data></Cell>
					<Cell><Data ss:Type="String">Name</Data></Cell>
					<Cell><Data ss:Type="String">Status</Data></Cell>
          <Cell><Data ss:Type="String">Completion Status</Data></Cell>
					<Cell><Data ss:Type="String">Mastery</Data></Cell>
					<Cell><Data ss:Type="String">Mastery String</Data></Cell>
					<% @summary[:forwardContent][:tagGroup].each do |singleLevel| %>
						<Cell><Data ss:Type="String"><%= singleLevel[:name]!="" ? singleLevel[:name] : "NoName" %></Data></Cell>
					<% end %>
				</Row>

				<% @summary[:forwardContent][:studentSubmissions].each do |studentSubmission| %>
					<Row>
						<Cell><Data ss:Type="String"><%= studentSubmission[:id] %></Data></Cell>
						<Cell><Data ss:Type="String"><%= studentSubmission[:name] %></Data></Cell>
						<Cell><Data ss:Type="String"><%= studentSubmission[:status] %></Data></Cell>
						<Cell><Data ss:Type="String"><%= studentSubmission[:completionStatus] %></Data></Cell>
						<Cell><Data ss:Type="String"><%= studentSubmission[:highestLevel] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= studentSubmission[:masteryString] %></Data></Cell>
						<% studentSubmission[:levelInfos].each do |singleLevelString| %>
							<Cell><Data ss:Type="String"><%= singleLevelString %></Data></Cell>
						<% end %>
					</Row>
				<% end %>

			</Table>
		</Worksheet>

    <Worksheet ss:Name="Unsubmitted">
				<Table> 
					<Row>
						<Cell><Data ss:Type="String">Name</Data></Cell>
						<Cell><Data ss:Type="String">Email</Data></Cell>
					</Row>
          <Row>
						<Cell><Data ss:Type="String">Overall</Data></Cell>
						<Cell><Data ss:Type="String"><%= @summary[:forwardContent][:unsubmittedEmails] %></Data></Cell>
					</Row>
          <% @summary[:forwardContent][:unsubmitted].each do |studentCourse| %>
            <Row>
							<Cell><Data ss:Type="String"><%= studentCourse.name %></Data></Cell>
							<Cell><Data ss:Type="String"><%= studentCourse.user.email %></Data></Cell>
						</Row>
          <% end %>
				</Table>
			</Worksheet>

		<% @summary[:forwardContent][:tagGroup].each do |singleLevel| %>
			<Worksheet ss:Name="<%= singleLevel[:name]!="" ? singleLevel[:name] : "NoName" %>">
				<Table>
					<% singleLevel[:questions].each_with_index do |qn, i| %>
						<Row>
							<Cell><Data ss:Type="Number"><%= i+1 %></Data></Cell>
							<Cell><Data ss:Type="String"><%= qn.description %></Data></Cell>
						</Row>
							<% if qn.specific.class == Assessment::McqQuestion %>
								<% qn.options.each do |opt| %>
									<Row>
								    <% nonuniq_stds = opt.assemt_std(@course, @policy_mission.assessment) %>
										<% uniq_stds = nonuniq_stds.uniq %>
										<Cell><Data ss:Type="String"></Data></Cell>
										<Cell><Data ss:Type="String"><%= opt.text %></Data></Cell>
										<Cell><Data ss:Type="String"><%= opt.correct ? "O" : "X" %></Data></Cell>
										<Cell><Data ss:Type="Number"><%= nonuniq_stds.size %></Data></Cell>
						        <Cell><Data ss:Type="String"><% uniq_stds.each do |std| %><%= std.name + " " %><% end %></Data></Cell>
									</Row>
								<% end %>
							<% end %>
					<% end %>
				</Table>
			</Worksheet>
		<% end %>
	<% end %>
</Workbook>
