<!DOCTYPE html>
<html ng-app="coursemologyApp">
<head>
  <title>Coursemology</title>
  <!--[if lt IE 9]>
  <script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.png">

  <%= stylesheet_link_tag    "application", :media => "all" , :debug => false %>
  <%= javascript_include_tag "application", :debug => false %>

  <%= include_gon %>
  <%= csrf_meta_tags %>
 
  <script async src='http://www.google.com/jsapi'></script>
</head>
<body style="padding: 20px;">
<%= yield %>
</body>
</html>

